* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message {
    margin: 10px 0 10px 0;
    background-color: #1a1a1ac0;
    padding: 5px;
    border-radius: 5px;
}

.timestamp {
    font-size: small;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
}

.date {
    margin-right: auto;
    font-size: .85em;
}

.time {
    margin-left: auto;
    font-size: .85em;
}

.username {
    margin: 3px 0 3px 0;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: .05em;
    color: #c0b51e;
}

.text {
    font-size: medium;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 400px;
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #444;
    padding: 5px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    height: 20px;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #333;
}

.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-corner {
    background-color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #444;
    color: #fff;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #1a1a1ac0;
    color: #fff;
    border: none;
    cursor: pointer;
}

form {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}